body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper{
  perspective: 1300px;
  /*margin-left: 700px;*/
  width: 650px;
  height: 240px;
  position: relative;

}

.digit{
  position: absolute;
}

.low-second, .low-second-bg, .high-second, .high-second-bg{
  left: 550px;
  z-index: 1;
}

.low-second-bg, .high-second-bg{
  z-index: 0;
}

.digit-1{
  left: 440px;
}

.digit-2{
  left: 330px;
}

.digit-3{
   left: 220px;
}

/*.digit:nth-child(4){
  left: 220px;
}

.digit:nth-child(5){
  left: 110px;
}

.digit:nth-child(6){
  left: 0px;
}*/

.tile {

    width:100px;
    height:100px;
    background: green;
    overflow: hidden;
    position: absolute;
}

.tile-bg{
    width:100px;
    height:100px;
    background:red;
    overflow: hidden;
    position: absolute;
}

.tile-two {

    width:100px;
    height:100px;
    background:red;
    position: absolute;
    top: 100px;
    overflow: hidden;
}

.tile-two-bg{
    width:100px;
    height:100px;
    background:green;
    position: absolute;
    top: 100px;
    overflow: hidden;
}

.before-half{
    animation: example1 1s;
    animation-fill-mode: forwards;
}

.after-half{
    animation: example2 1s;
    animation-fill-mode: forwards;
}


@-webkit-keyframes example1 {
    0% {
       -webkit-transform: rotateX(0deg);
       -webkit-transform-origin: bottom;
       display: block;
    }
    50% {
       -webkit-transform: rotateX(-90.9deg);
        -webkit-transform-origin: bottom;
        visibility: hidden;
    }
    100% {
       -webkit-transform: rotateX(-90.9deg);
        -webkit-transform-origin: bottom;
        visibility: hidden;
    }
}

@-webkit-keyframes example2 {
    0% {
       -webkit-transform: rotateX(89.1deg);
       -webkit-transform-origin: top;
       visibility: hidden;
    }
    50% {
       -webkit-transform: rotateX(89.1deg);
        -webkit-transform-origin: top;
        visibility: hidden;
    }
    100% {
       -webkit-transform: rotateX(0deg);
        -webkit-transform-origin: top;
        display: block;
    }
}

h1{
  font-size: 200px;
  position: absolute;
  overflow: hidden;

  text-align: center;
  margin: 0;


}

.one{
    /* top: 50px; */
    /*// text-overflow: clip;*/
    /*// top: -50px;*/
}

.two{
  /*// line-height: -250px;*/
     top: -100px;  
}

.top-index{
  z-index: 1;
}

.bottom-index{
  z-index: 0;
}
