body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1E1F23;
}

.wrapper {
  perspective: 1300px;
  width: 860px;
  height: 240px;
  position: relative;
}

.labels {
  position: absolute;
  top: 220px;
  display: flex;
  z-index: 5;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.labels div {
  flex-grow: 1;
  border: 1px black solid;
  width: 200px;
  margin: 0 10px 0 10px;
  background: white;
}

.labels div:first-child {
  margin-right: 10px;
  margin-left: 0px;
}

.labels div:last-child {
  margin-right: 0px;
  margin-left: 10px;
}

.digit {
  position: absolute;
  width: 100px;
  height: 200px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.low-second,
.low-second-bg,
.high-second,
.high-second-bg {
  z-index: 1;
}

.low-second-bg,
.high-second-bg {
  z-index: 0;
}

.digit-0 {
  right: 0px;
}

.digit-1 {
  right: 100px;
}

.digit-2 {
  right: 220px;
}

.digit-3 {
  right: 320px;
}

.digit-4 {
  right: 440px;
}

.digit-5 {
  right: 540px;
}

.digit-6 {
  right: 660px;
}

.digit-7 {
  right: 760px;
}

.tile {
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  overflow: hidden;
  position: absolute;
}

.tile-bg {
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  overflow: hidden;
  position: absolute;
}

.tile-two {
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  position: absolute;
  top: 100px;
  overflow: hidden;
}

.tile-two-bg {
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  position: absolute;
  top: 100px;
  overflow: hidden;
}

.before-half {
  animation: example1 1s;
  animation-fill-mode: forwards;
}

.after-half {
  animation: example2 1s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes example1 {
  0% {
    -webkit-transform: rotateX(0deg);
    -webkit-transform-origin: bottom;
    display: block;
  }
  50% {
    -webkit-transform: rotateX(-90.9deg);
    -webkit-transform-origin: bottom;
    visibility: hidden;
  }
  100% {
    -webkit-transform: rotateX(-90.9deg);
    -webkit-transform-origin: bottom;
    visibility: hidden;
  }
}

@-webkit-keyframes example2 {
  0% {
    -webkit-transform: rotateX(89.1deg);
    -webkit-transform-origin: top;
    visibility: hidden;
  }
  50% {
    -webkit-transform: rotateX(89.1deg);
    -webkit-transform-origin: top;
    visibility: hidden;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    -webkit-transform-origin: top;
    display: block;
  }
}

h1 {
  font-size: 200px;
  position: absolute;
  overflow: hidden;
  text-align: center;
  margin: 0;
}

.one {
  /* top: 50px; */
  /* top: -50px;*/
}

.two {
  top: -100px;
}

.top-index {
  z-index: 1;
}

.bottom-index {
  z-index: 0;
}
